.App {
  text-align: center;
}

.about{ 
  height: 34em; 
  background-color: #f2f5fa 
}

.about-header{
  font-size: 4rem !important
}

.jobdetail-header{ 
  height: 30em; 
  background-color: #f2f5fa 
}

.cv-form-headers{
  text-align:left
}

.jobdetail-title{ 
  font-size: 4rem !important
}

.jobdetail-container{
  margin-top: 3em;
  height: 35em;
}

 .job-advert-card{
  box-shadow: 0.8px 0.8px 8px #888888 !important;
  width: 100% !important
}

.job-advert-card:hover{
  box-shadow: 1px 1px 8px #21ba45 !important
}

.button{
  background-color: white !important;
  color: #21ba45 !important;
  font-weight: 400 !important;
  font-size: 1.1rem !important;
  border: 1px solid #21ba45 !important
}

.button:hover{
  background-color: #21ba45 !important;
  color: white !important
}

.button.reset{
  background-color: rgb(255, 255, 255) !important;
  color: rgb(219, 40, 40) !important;
  font-weight: 400 !important;
  font-size: 1.1rem !important;
  border: 1px solid rgb(219, 40, 40) !important
}

.button.reset:hover{
  background-color: rgb(219, 40, 40) !important;
  color: rgb(255, 255, 255) !important
}

.select:hover{
  border: 0.6px solid #21ba45 !important
}

.footer-lists-titles{
  text-align: center;
  font-size: 1.5em !important;
  color: rgba(36, 174, 97, 0.99) !important;
  font-weight: 180 !important;
} 

.footer-lists{
  text-align: center;
  line-height: 225%;
  color: white;
}

.footer-container{
  font-size: 15px;
  display: flex !important;
  flex-flow: row wrap !important;
  justify-content: center !important;
  align-items: center !important;
  color: black !important;
}

@media (max-width: 600px) {
  .footer-container {
    flex-flow: column wrap;
  }
}

.footer-element{
  flex: 25%
  
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .footer-element{
    flex: 50%;
    margin-top: 0
  }
  .footer-element:nth-child(n+3){
    margin-top: 2em
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px){
  .footer-element{
    flex: 100%;
    margin-top: 2em
  }

  .footer-element:first-child{
    margin-top: 0
  }
}
